.shop-owner-home {
  text-align: center;
  margin: 20px;
}

.shop-owner-home h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.shop-owner-home nav ul {
  list-style-type: none;
  padding: 0;
}

.shop-owner-home nav ul li {
  display: inline-block;
  margin: 10px;
}

.shop-owner-home nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.shop-owner-home nav ul li a:hover {
  background-color: #333;
  color: #fff;
}
